.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.logoDown{
  height: 60px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-transparent{
  display: absolute !important;
  top:0;
  left:0;
}

.border{
  border:1px solid blue !important;

}
.cards_icons{
  height:40px;
}
.transition{
  transition: all ease 0.3s;

}
.transition:hover{
  font-size: 22px;
}
.transition_li{
  transition: all ease 0.3s !important;

}.transition_li:hover{
  font-size: 20px !important;


}
.overFlow{
  overflow-y:visible;
}
html{
  /* background-color: #1d293e; */
}
/* .second-footer{
  margin-top: 30px;
  border-radius: 10px;
} */
.illustrations{
  height: 120px;
}
.small-category-2{
  border-radius: 30px !important;
}
.project-single{
  border-radius: 30px !important;
}
.team-block{
  border: none !important;
}