<div id="<%= dom_id amenity %>">
  <p>
    <strong>Space:</strong>
    <%= amenity.space_id %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= amenity.item_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= amenity.price %>
  </p>

</div>
